.back-button-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.back-button {
  background: #f9f3ef;
  border: none;
  cursor: pointer;
}

.back-button img {
  width: 16px;
  height: auto;
}
