.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px 10px;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 450px;
	background-color: rgba(249, 243, 239, 0.7); /* Semi-transparent white */
	backdrop-filter: blur(10px); /* Add this line */
	z-index: 9999;
	box-sizing: border-box;
  }
  

.top-bar-name {
	font-size: 24px;
	font-weight: 600;
}
