.friend-search-container {
  margin-bottom: 10px;
  width: 90vw;
  padding: 20px;
  height: 3vh;
  display: flex;
}


.friend-search-input {
  padding: 20px;
  font-size: 1.7vh;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 2vw;
  color: #bfbfbf;
  border-color: #bfbfbf;
}
