.optional-text {
	font-size: 0.5em; /* Adjust the value as needed */
	font-weight: lighter;
}

.profile-img-default {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 4%;
}
