/* ProfilePicture2.css */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background-color: #f9f3ef;
  padding-top: 5%;
  position: relative;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #9746ff;
}

.edit-profile-picture {
  position: absolute;
  right: -5%;
  bottom: 0;
  /* top: 0; */
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

.edit-profile-picture img {
  display: block;
  width: 25px;
  height: 25px;
}
