/* ProfilePicture2.css */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background-color: #f9f3ef;
  padding-top: 5%;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #9746ff;
}
